

h1 {
    text-align: center;
    color: black;
    font-size: large;
}

h2 {
    text-align: center;
    color: #041E42;
    font-size: medium;
}

p {
    text-align: left;
    color: white;
    font-size: small;

}