

h1 {
    text-align: center;
    color: black;
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: #041E42;
    font-size: medium;
}

p {
    text-align: left;
    color: white;
    font-size: small;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.image {
    border:5px solid #000000; 
    padding:3px; 
    margin:5px
}